<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803132658202-b3pe56d2qarack1acnkfqpo7n2fuiuag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803132658202-b3pe56d2qarack1acnkfqpo7n2fuiuag</string>
	<key>API_KEY</key>
	<string>AIzaSyCeWxYh5bCDF2ZNgeIg5hm2Z0E_2PFMrzk</string>
	<key>GCM_SENDER_ID</key>
	<string>803132658202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firetester</string>
	<key>PROJECT_ID</key>
	<string>fir-tester-9e30b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tester-9e30b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803132658202:ios:4aaf566dfc826556d577a3</string>
</dict>
</plist>